.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: sans-serif;
}

.LoginBox{
  border-radius: 10px;
  border: 5px solid rgb(177, 177, 177);
  background-color: #71a8e2;
  text-align: center;
  padding: 30px;
  width: 300px;
  text-align: left;
  height: 400px;

}

.LoginBox input[type="text"], .LoginBox input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;

}

.checkBox{
  color: rgb(234, 234, 238);
  display: inline;
  
}
.forgot{
  margin-left: 40px;
  text-decoration: none;
}
.forgot:hover{
  text-decoration: underline;
}
.LoginButon{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: #333;
}
.SingUp{
  text-align: center;
  text-decoration: none;
}
.SingUp:hover{
  text-decoration: underline;

}

.nav a:hover{
  text-decoration: underline;
}

.Background{
  color: black;
}
